body{
    background-color: #f2f4f5;
}

i{
    margin-right: 2px;
}

@media only screen and (min-width: 600px){

    .card{
        width:auto; 
        margin:6px;
    }

    .navbar{
        width: 100%;
        background-color:white !important;
        border-bottom: solid #e1e4e6 1px;
    }

    .nav-link{
        font-size: 74px;
    }
    
    .likebutton ,.edit, .delete{
        font-size: 32px;
        color:#454545;
    }

    .delete{
        margin-left: 20px;
        background-color: transparent;
        border: none;
    }

    .edit{
        background-color: transparent;
        border: none;
    }

    .edit:hover, .delete:hover{
        color: grey;
    }
    
    .card-header{
        font-size:46px;
        font-family:  monospace;
    }
    
    .card-subtitle{
        font-size:28px;
    }
    
    .card-text{
        font-size:34px;
        color:black;
    }

    .page-item{
        font-size: 36px;
    }
    
    .network{
        display: none;
    }
    
    .details-follow{
        font-size: 40px;
        margin:10px;
        color: #454545;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .details-name{
        font-size: 54px;
        margin:10px;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .btn-follow{
        font-size: 56px;
    }

    .btn-config{
        font-size: 56px;
    }

    .btn-total-follow{
        font-size: 38px;
        background-color: transparent;
        border: none;
    }

    .follows:hover{
        color:grey;
    }
    
    a{
        color: black;
    }

    a:hover{
        color: grey;
        text-decoration: none;
    }

    .class-post{
        padding: 10px; 
        background-color: white; 
        margin: 10px; 
        margin-top: 40px;
        border: 1px solid black;
    }

    .form-control{
        font-size: 46px;
    }

    .save{
        font-size: 36px;
    }

    .login{
        background-color: white; 
        padding: 16px; 
        margin: 10px;
        margin-top: 10%;

    }

    .login-buttom{
        margin-bottom: 6px;
    }

    .profile{
        border: 1px solid black; 
        padding: 10px; 
        background-color: white; 
        margin: 6px;
        text-align: center;
    }

    .info-form{
        margin-top: 10px;
        font-size: 32px;
    }

    .total-likes{
        font-size: 32px;
    }

    .label-config{
        font-size: 36px;
    }

    .btn-modal-newpost{
        background-color: #f2f2f2;
        width: 100%;
        border: 0.5px solid #a3a3a3;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 46px;
    }

    .new-post-content{
        background-color: #f0f0f0;
    }

    .modal-title, .modal-body{
        font-size: 46px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    .close{
        font-size: 50px;
    }

}

@media only screen and (min-width: 1025px){

    .card{
        width:auto; 
        margin:6px;
    }

    .navbar{
        background-color:white !important;
        border-bottom: solid #e1e4e6 1px;
    }
    .mr-auto{
        margin-left: 20%;
    }
    .ml-auto{
        margin-right: 20%;
    }

    .nav-link{
        font-size: 26px;
    }
    
    .likebutton ,.edit, .delete{
        font-size: 16px;
        color:#454545;
    }

    .delete{
        margin-left: 20px;
        background-color: transparent;
        border: none;
    }

    .delete:hover{
        color: grey;
    }
    
    .card-header{
        font-size:20px;
        font-family:  monospace;
    }
    
    .card-subtitle{
        font-size:14px;
    }
    
    .card-text{
        font-size:24px;
        color:black;
    }

    .page-item{
        font-size: 16px;
    }

    .btn-follow{
        font-size: 30px;
    }

    .btn-follow:hover{
        color:grey;
    }

    .btn-total-follow{
        font-size: 16px;
        background-color: transparent;
        border: none;
    }

    .follows:hover{
        color:grey;
    }

    a{
        color: black;
    }

    a:hover{
        color: grey;
        text-decoration: none;
    }
    
    .details-follow{
        font-size: 24px;
        margin:10px;
        color: #454545;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .details-name{
        font-size: 34px;
        margin:10px;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .class-post{
        padding: 10px; 
        background-color: white; 
        margin: 10px; 
        border: 1px solid black
    }

    .form-control{
        font-size: 26px;
    }

    .login{
        background-color: white; 
        padding: 16px; 
        margin: 10px;
    }

    .login-buttom{
        margin-bottom: 6px;
    }

    .profile{
        border: 1px solid black; 
        padding: 10px; 
        background-color: white; 
        margin: 6px;
        text-align: center;
    }   

    .save{
        font-size: 16px;
    }

    .info-form{
        margin-top: 10px;
        font-size: 16px;
    }

    .total-likes{
        font-size: 16px;
    }

    .btn-config{
        font-size: 30px;
    }

    .label-config{
        font-size: 16px;
    }

    .btn-modal-newpost{
        background-color: #f2f2f2;
        width: 100%;
        border: 0.5px solid #a3a3a3;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 26px;
    }

    .new-post-content{
        background-color: #f0f0f0;
    }

    .modal-title, .modal-body{
        font-size: 26px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .close{
        font-size: 26px;
    }

}